/* ImageSlideshow.css */

.slide {
    position: relative;
    overflow: hidden;
  }
  
  .slide img {
    width: 100%;
    max-height: 100vh ;
    transition: transform 0.1s ease; /* Add a smooth transition effect */
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .slick-current .slide img {
    transform: scale(1.2); /* Adjust the scale factor for the ripple effect */
  }
  .custom-caption {
    /* transform: translateY(-50%) !important; */
        /* -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     transform-style: preserve-3d;  */
      }

      .grey-out-logo {
        filter: grayscale(100%);
      }

      .flip-horizontal {
        transform: scaleX(-1);
      }

      .bg-image-container {
        background-image: url('../assets/images/stars.jpg');
        /* background-size: cover; */
        /* background-position: center; */
        color: white;
         /* padding: 40px;  */
        /* min-height: 700px;  */
        width: 100vw;
        height: 100vh ;
        margin-left: -19em;
      }

      /* .text-container {
        text-align: left;
        background-color: #fff;
        width: '50vw !important';
        
      
      } */
       .ceo_text-container {
       display:flex;
      
       
        
      
      } 
      .black-bg-opacity {
        padding: 15em 2em;
        /* background-color: rgba(0, 0, 0, 0.6); Black with opacity */
      }
      /* .stories{
       margin-top:'10em'

      } */
      .dimmed-image-container {
        position: relative;
        
      }
      
      .dimmed-image-container::before {
        content: "";
        /* display: block; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5); /* Adjust the last value for the desired level of dimming (0 is transparent, 1 is opaque) */
        pointer-events: none; /* Allows clicks to pass through the dimmed layer */
        /* padding: 15em 2em; */
      }
      
      .dimmed-image {
        /* background-size: cover; */
        /* display: block; */
        width: 100vw;
        height: 100vh ;
      }
      
      .tilted-image {
        /* transform: rotate(-10deg); */
        /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);  */
      }